<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
             <strong>
                 <a class="logo-font d-lg-none font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}">
                    Home
                </a>
            </strong>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SORT
            </a>
            <div class="dropdown-menu border-0 dropright" aria-labelledby="all-products-link">
                <div class="dropdown-item">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" id="by-price"
                            style="color: #212529; text-decoration: none;">By
                            Price</a>
                        <div class="dropdown-menu" aria-labelledby="by-price">
                            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price (low to
                                high)</a>
                            <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">Price (high
                                to
                                low)</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown-item">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" id="by-brand"
                            style="color: #212529; text-decoration: none;">By
                            Brand</a>
                        <div class="dropdown-menu" aria-labelledby="by-brand">
                            <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item">Brand (A -
                                Z)</a>
                            <a href="{% url 'products' %}?sort=brand&direction=desc" class="dropdown-item">Brand (Z -
                                A)</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown-item">
                    <div class="dropdown">
                        <a href="#" data-toggle="dropdown"
                            class="dropdown-toggle" id="by-category" style="color: #212529; text-decoration: none;">By
                            Category</a>
                        <div class="dropdown-menu" aria-labelledby="by-brand">
                            <a href="{% url 'products' %}?sort=categories&direction=asc" class="dropdown-item">Category
                                (A -
                                Z)</a>
                            <a href="{% url 'products' %}?sort=categories&direction=desc" class="dropdown-item">Category
                                (Z
                                - A)</a>
                        </div>
                    </div>
                </div>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BRANDS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?brand=Antony Morato" class="dropdown-item">Antony Morato</a>
                <a href="{% url 'products' %}?brand=PULL BEAR" class="dropdown-item">PULL & BEAR</a>
                <a href="{% url 'products' %}?brand=Selected Homme" class="dropdown-item">Selected Homme</a>
                <a href="{% url 'products' %}?brand=PS Paul Smith" class="dropdown-item">PS Paul Smith</a>
                <a href="{% url 'products' %}?brand=Brave Soul" class="dropdown-item">Brave Soul</a>
                <a href="{% url 'products' %}?brand=Walk London" class="dropdown-item">Walk London</a>
                <a href="{% url 'products' %}?brand=Timberland" class="dropdown-item">Timberland</a>
                <a href="{% url 'products' %}?brand=Bershka" class="dropdown-item">Bershka</a>
                <a href="{% url 'products' %}?brand=Steve Madden" class="dropdown-item">Steve Madden</a>
                <a href="{% url 'products' %}?brand=ALDO" class="dropdown-item">ALDO</a>
                <a href="{% url 'products' %}?brand=Guess" class="dropdown-item">Guess</a>
                <a href="{% url 'products' %}?brand=Zign" class="dropdown-item">Zign</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Shoes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CATEGORIES
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?categories=Sneakers" class="dropdown-item">Sneakers</a>
                <a href="{% url 'products' %}?categories=Loafers" class="dropdown-item">Loafers</a>
                <a href="{% url 'products' %}?categories=Oxfords" class="dropdown-item">Oxfords</a>
                <a href="{% url 'products' %}?categories=Boots" class="dropdown-item">Boots</a>
                <a href="{% url 'products' %}?categories=Moccasins" class="dropdown-item">Moccasins</a>
            </div>
        </li>
    </ul>
</div>